# 初めてのPython

## Hello world!をやってみよう！

下のコードをコードセルに書き込んで実行してみよう．
```python
print("Hello world!")
```

printは __print関数__ です．文字列などを表示するための関数（機能）で，`()`の中に入れられた文字列をただ単に表示してくれます．この`()`の中に書かれたものを __引数__ と呼ぶぞ．覚えておこう．

また，プログラム中にコメント（プログラムとして認識されたくないメモなど）を書く場合は # を使おう．

```python
print("Hello world!") # ハローワールドを表示させるためのプログラム
```

これをコードセルに書いて実行してみよう．

## Pythonを電卓代わりに使ってみよう．

### 四則演算

以下の表を参考に，いろんな計算を試してみよう．

| 演算                     | 演算子 | 使い方 |
| ------------------------ | ------ | ------ |
| 足し算                   | +      | 1+1    |
| 引き算                   | -      | 1-2    |
| 掛け算                   | *      | 2*3    |
| 割り算                   | /      | 6/3    |
| 割り算（余りを切り捨て） | //     | 6//4   |
| mod（余り）              | %      | 6%4    |

In [ ]:
1-3

In [ ]:
5*6

In [ ]:
8/2

In [ ]:
1+1

#### [問題] 太郎くんは、一つ100円のももを5つ、一つ40円のみかんを8つ買いました。全部でいくらになったでしょう？

In [ ]:
# もも = 100
100*5 + 40 * 8

## “変数”で電卓より優れた電卓に．

円周率(3.141592653589793...)のような値を使う度にいちいち手打ちしていくのは大変なので，piという変数に代入しましょう．

以下のコードをコードセルに入力しpiの値が3.141592653589793になっていることを確かめてみましょう．
```python
pi = 3.141592653589793
print(pi)
```

In [ ]:
pi = 3.141592653589793
print(pi)

代入された値は，後から修正することもできます．piに以下の値を再び代入して，printしてみてください．  
`3.141592653589793238462643`

In [ ]:
pi = 0
print(pi)

### [問題] 半径5cmの円の面積を求めて，これを変数「area」に代入してください．その後これをprintして，中身を確認してみましょう．

In [ ]:
pi = 3.141592653589793
hankei = 5

area = hankei * hankei * pi
print(area)

## 値の大小関係
以下の表を参考に，いろんな等式，不等式を試してみよう．

| 意味           | コード |  
| -------------- | ------ |
| AはBより大きい | A>B    |   
| AはBと等しい   | A==B   |   
| AはB以上である | A>=B   |  
| AはB以下である | A<=B   |
| AはB未満である | A<B    |

これらのコードは，それぞれ「それが正しければ`True`，間違っていれば`False`」を返します．

In [ ]:
1 > 2

In [ ]:
100 == 50 *2

In [ ]:
100 <= 50 *2

## 整数型（int）と浮動小数点数型（float）

type関数を使うことで，そのオブジェクトがどんな型なのかを知ることができます．3と3.0それぞれの型を確認してみましょう．

In [ ]:
type(3)

In [ ]:
type(3.0)

In [ ]:
type("hello world")

In [ ]:
1 + 1.0

In [ ]:
5 / 3

数と数の割り算が定義されていることについては違和感がないと思います．では，文字の割り算はどうでしょうか？
```python
"hello worldXXXX" / 3
```
このコードを実行してみて下さい．

> TypeError: unsupported operand type(s) for /: 'str' and 'int'

は文字列と整数との割り算がサポートされていないことを表すエラーです．

オブジェクトの種類（数字と文字列など）の違いによって
- 同じ演算子でも違う挙動をする
- 数字ペアで使えた演算子が数字と文字列のペアでは使えない

のようなことが起こりえます．文字列と数字の割り算ができないのは理解しやすいのではないでしょうか．このオブジェクトの種類のことを「型」と呼びます．数字を表す型として，ここまでで出てきたものは「整数型」と「浮動小数点数型」です．これ以外にも以下の図に示すようにたくさんの型をPythonは（標準で）持っています．

> ![](https://images.theengineeringprojects.com/image/webp/2020/06/Datatypes-in-python.jpg.webp?ssl=1)  
> [How to use Data Types in Python - The Engineering Projects](https://www.theengineeringprojects.com/2020/06/how-to-use-data-types-in-python.html) より

また，何かしらの操作（掛け算や割り算など）を行うと，整数型同士の計算でも小数が登場することがありますよね．Pythonではそのような場合は自動的に，その操作によって生成されたオブジェクトの型をよしなに変換してくれます．

e.g. 割り算をすると，整数型のオブジェクトが勝手に浮動小数点数型に変換されていることがあります．確認してみましょう．

## 文字列型

`" "` で囲まれた文字列は __文字列型__ として扱われます．文字列同士の足し算もできるぞ．試してみよう．

In [ ]:
"aaa"

'aaa'


___

## 数字型から文字列型への変換

数字を`str()`関数に渡すと文字列になります．試してみよう！

## 文字列に特定の文字が含まれているか？

`探したい文字 in 検索対象`で検索対象の中に探したい文字があるかを確認できます．やってみよう．
```python
"あ" in "あいうえお"
```

```python
"a" in "ABCDE"
```

`in`を`not in`に変えてみると...?